.nav-list a {
    font-weight: 600;
}

section {
    margin-bottom: 100px;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #000000 0%, #130007 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 30px;
    cursor: pointer;
    margin-top: 15px;
}

.bg-img {
    display: flex;
}

.bg-img.bg-left {
    height: 800px;
    width: 50px;
    margin-top: 30px;
    margin-bottom: 0;
}

.phone-header span {
    color: #FFB746;
    font-weight: 400;
}

.card {
    border: none;
    box-shadow: 1px 2px 26px -7px rgba(0, 0, 0, 0.54);
    border-radius: 10px;
    padding: 60px;
    height: 540px;
}

.card-detail {
    text-align: center;
}

.card-detail img {
    height: 200px;
    width: 150px;
}

.categories h3 {
    text-align: center !important;
}

.categories .bag {
    box-shadow: 1px 2px 26px -7px rgba(0, 0, 0, 0.54);
    width: 250px;
    height: 250px;
    font-size: 20px;
    border-radius: 2px 30px;
    margin-left: 100px;
    margin-top: 50%;
}

.categories .bag img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

.bag h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.categories .perfume {
    box-shadow: 1px 2px 26px -7px rgba(0, 0, 0, 0.54);
    width: 250px;
    height: 250px;
    font-size: 20px;
    border-radius: 2px 30px;
    margin-left: 20px;
}

.categories .perfume img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

.perfume h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.categories .shoe {
    box-shadow: 1px 2px 26px -7px rgba(0, 0, 0, 0.54);
    width: 250px;
    height: 250px;
    font-size: 20px;
    border-radius: 2px 30px;
    margin-left: 20px;
    margin-top: 20%;
}

.categories .shoe img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

.shoe h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.categories .pale-order {
    margin-left: -100px;
}

.pale-order img {
    height: 540px;
    width: 560px;
}